---
# Handlers file for {{ role_name }}
- name: restart "{{ '{{' }} {{ role_name }}_service_name {{ '}}' }}"
  service:
    name: rsyslog
    state: "{{ '{{' }} {{ role_name }}_restarted_state {{ '}}' }}"
