---
# Handlers file for {{ role_name }}
- name: restart "{{ '{{' }} {{ role_name | replace('ansible-role-', '') }}_service_name {{ '}}' }}"
  service:
    name: rsyslog
    state: "{{ '{{' }} {{ role_name | replace('ansible-role-', '') }}_restarted_state {{ '}}' }}"
