{{ role_name | replace('ansible-role-', '') }}
===========

Basic description for {{ role_name | replace('ansible-role-', '') }}

Requirements
------------

Ansible 2.9 or higher

Red Hat Enterprise Linux 8 or equivalent

Valid Red Hat Subscriptions

Role Variables
--------------

Currently the following variables are supported:

### General

* `{{ role_name | replace('ansible-role-', '') }}_var_name` - var\_name description

Dependencies
------------

None

Example Playbook
----------------

```yaml
- hosts: {{ role_name | replace('ansible-role-', '') }}-servers
  roles:
    - role: {{ role_name | replace('ansible-role-', '') }}
```

License
-------

MIT

Author Information
------------------

Author Name <peter.gustafsson6@gmail.com>
