galaxy_info:
  role_name: {{ role_name }}
  author: Peter Gustafsson
  description: My Description
  license: MIT
  min_ansible_version: 2.5
  platforms:
    - name: EL
      versions:
        - 8

  galaxy_tags:
    - pgustafs

dependencies: []

